/.vscode/
/__pycache__/
/vendor/__pycache__/
/Builds/ezrShell/
/Builds/Inno/
/ezrShell.spec
/ezr-language-support/
/examples/ezr-python-library-template/__pycache__
/ezrlibs/Libraries/__pycache__
/ezrlibs/Libraries/base/__pycache__
/ezrlibs/Libraries/stdlib/__pycache__