/.vscode/
/__pycache__/
/vendor/__pycache__/
/Builds/ezrShell/
/Builds/Inno/
/ezrShell.spec
/ezr-language-support/
/examples/ezr-python-library-template/__pycache__
Libraries/__pycache__
Libraries/base/__pycache__
Libraries/stdlib/
Libraries/std.py
/langTests/
/graphics/sizes/